{% load lang_tags %}

{% for news_item in news %}
    <article class="news-card">
        <div class="news-image">
            <img src="{{ news_item.image.url }}" alt="{{ news_item.title_ru }}">
        </div>
        <div class="news-content">
            <p class="news-date">{{ news_item.created_at|tr_date }}</p>
            {% if news_item.tags.all %}
                <div class="card-tags">
                    {% for tag in news_item.tags.all|slice:":2" %}
                        <span class="card-tag">
            {% if current_lang_code == "kz" and tag.name_kz %}
                {{ tag.name_kz }}
            {% elif current_lang_code == "eng" and tag.name_en %}
                {{ tag.name_en }}
            {% else %}
                {{ tag.name_ru }}
            {% endif %}
          </span>
                    {% endfor %}
                </div>
            {% endif %}
            <h2 class="news-title">
                {% if current_lang_code == "kk" and news_item.title_kz %}
                    {{ news_item.title_kz }}
                {% elif current_lang_code == "en" and news_item.title_en %}
                    {{ news_item.title_en }}
                {% else %}
                    {{ news_item.title_ru }}
                {% endif %}
            </h2>
            <p class="news-excerpt">
                {% if current_lang_code == "kk" and news_item.small_description_kz %}
                    {{ news_item.small_description_kz }}
                {% elif current_lang_code == "en" and news_item.small_description_en %}
                    {{ news_item.small_description_en }}
                {% else %}
                    {{ news_item.small_description_ru }}
                {% endif %}
            </p>
            <a href="{% url 'news_detail' news_item.pk %}" class="button outline-button">
                {% tr "Подробнее" %}
            </a>
        </div>
    </article>
{% endfor %}
