{% extends "base.html" %}
{% load lang_tags %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/base/news.css' %}">
{% endblock %}

{% block content %}
    <section class="news-events">
        <div class="container" id="news-start">
            <h1 class="section-title">{% tr "Все новости" %}</h1>

            <!-- Поиск -->
            <form id="searchFormNews" class="search-form" method="get">
                <input type="text" id="searchNews" name="search_query" placeholder="{% tr 'Поиск по новостям' %}"
                       value="{{ search_query }}" class="search-input">
            </form>

            <!-- Теги -->
            <div id="tag-container" class="tag-list" style="margin-top: 1rem;">
                <a href="javascript:void(0);"
                   class="tag-link {% if not selected_tag %}selected{% endif %}"
                   data-tag="">
                    {% if current_lang_code == "kk" %}
                        Барлығы
                    {% elif current_lang_code == "en" %}
                        All
                    {% else %}
                        Все
                    {% endif %}
                </a>

                {% for tag in tags %}
                    <a href="#" data-tag="{{ tag.slug }}"
                       class="tag-link{% if tag.slug == selected_tag %} selected{% endif %}">
                        {% if current_lang_code == "kk" %}
                            {{ tag.name_kz }}
                        {% elif current_lang_code == "en" %}
                            {{ tag.name_en }}
                        {% else %}
                            {{ tag.name_ru }}
                        {% endif %}
                    </a>
                {% endfor %}
            </div>


            <!-- Контейнер с новостями -->
            <div></div>
            <div id="news-container" class="news-grid" data-news-url="{% url 'news_list' %}">
                {% include "news/partial/news_cards.html" with news=news %}
            </div>

            <!-- Пагинация -->
            <div id="pagination-container" class="view-all">
                {% include "news/partial/pagination.html" %}
            </div>
        </div>
    </section>

    <script src="{% static 'js/base/news/ajax_search_and_filters.js' %}"></script>
{% endblock content %}

