{% extends "base.html" %}
{% load lang_tags %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/base/news.css' %}">
{% endblock %}

{% block content %}
    <section class="news-events">
        <div class="container">
            <article class="news-detail-card">

                <!-- Теги -->
                {% if object.tags.all %}
                    <div class="card-tags">
                        {% for tag in object.tags.all|slice:":2" %}
                            <span class="card-tag">
                              {% if current_lang == "kz" and tag.name_kz %}
                                  {{ tag.name_kz }}
                              {% elif current_lang == "eng" and tag.name_en %}
                                  {{ tag.name_en }}
                              {% else %}
                                  {{ tag.name_ru }}
                              {% endif %}
                            </span>
                        {% endfor %}
                    </div>
                {% endif %}

                <!-- Дата -->
                <p class="news-date">{{ object.created_at|tr_date }}</p>

                <!-- Заголовок -->
                <h1 class="news-title" style="font-size: 1.875rem;">
                    {% if current_lang == "kz" and object.title_kz %}
                        {{ object.title_kz }}
                    {% elif current_lang == "eng" and object.title_en %}
                        {{ object.title_en }}
                    {% else %}
                        {{ object.title_ru }}
                    {% endif %}
                </h1>

                <!-- Картинка -->
                {% if object.image %}
                    <div class="news-detail-image">
                        <img src="{{ object.image.url }}" alt="{{ object.title_ru }}">
                    </div>
                {% endif %}

                <!-- Контент -->
                <div class="news-body">
                    {% if current_lang == "kz" and object.content_kz %}
                        {{ object.content_kz|safe }}
                    {% elif current_lang == "eng" and object.content_en %}
                        {{ object.content_en|safe }}
                    {% else %}
                        {{ object.content_ru|safe }}
                    {% endif %}
                </div>

                <div class="view-all" style="margin-top: 2rem;">
                    <a href="{% url 'news_list' %}"
                       class="button outline-button">{% tr "← Назад ко всем новостям" %}</a>
                </div>

            </article>
        </div>
    </section>
{% endblock %}
